html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.d-flex {
  display: flex;
}
.default-link{
  cursor: pointer;
}
.auth-form-wrapper {
  max-width: 340px;
  width: 340px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 70px 30px 30px;
  margin: 10px auto;
  min-height: 460px;
}

.form-title {
  margin: 0 0 50px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #1E1E1E;
}

.page-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.auth-form-wrapper label {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.auth-form-wrapper label input {
  border: none;
  border-bottom: 1px solid #3369F3;
  outline: none;
  width: 100%;
  height: 30px;
}

.auth-form-wrapper label .input-placeholder {
  position: absolute;
  left: 0;
  top: 9px;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #999999;
  transition: 0.3s linear all;
}

.default-button {
  background: #3369F3;
  border-radius: 8px;
  outline: none;
  border: none;
  height: 37px;
  line-height: 1;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.auth-form-wrapper .default-button {
  width: 100%;
  cursor: pointer;
}

.text-center {
  text-align: center;

}

.default-link {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #3369F3;
  text-decoration: none;
}

.auth-form-wrapper form {
  min-height: 360px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.auth-form-buttons-wrapper {
  margin-top: 50px;
}

.auth-form-wrapper label input:focus ~ .input-placeholder {
  top: -10px;
  font-size: 9px;
}

.auth-form-wrapper .js-focused .input-placeholder {
  top: -10px;
  font-size: 9px;
}

.error-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #1E1E1E;
  margin-top: 0;
  margin-bottom: 20px;
}

.error-subtitle {
  margin-bottom: 70px;
  margin-top: 0;
}

.page-wrapper {
  min-height: 100vh;
}

.sidebar-wrapper {
  min-width: 310px;
  width: 20%;
  max-height: 100vh;
  overflow: auto;
}

.chats-messages-wrapper {
  width: 80%;
}

.no-chat-message {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #999999;
}

.messenger-main-page {
  min-height: 100vh;
  max-height: 100vh;
}

.sidebar-wrapper {
  padding: 10px 20px;
}

.profile-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.profile-link svg {
  margin-left: 10px;
}

.sidebar-wrapper {
  background: #FBFBFB;
}

.profile-link-wrapper {
  margin-bottom: 23px;
}

.sidebar-header-search-form label {
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.sidebar-header-search-form label input {
  width: 100%;
  height: 32px;
  outline: none;
  border: none;
  background: #EFEFEF;
  border-radius: 5px;
  padding: 0 34px;
}

.search-form-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.search-form-placeholder-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  line-height: 32px;
}

.js-focused .search-form-placeholder-wrapper {
  left: 20px;
}

.js-focused .search-form-placeholder-wrapper .search-form-placeholder {
  display: none;
}

.sidebar-header-search-form {
  margin-bottom: 15px;
}

.sidebar-chat-img {
  width: 47px;
  min-width: 47px;
  height: 47px;
  background: #EFEFEF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.sidebar-chat-sender {
  margin-top: 0;
  margin-bottom: 4px;
}

.sidebar-chat-additional-data {
  width: 30px;
  margin-left: auto;
  min-width: 30px;
}

.sidebar-chat-sender {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: #1E1E1E;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.sidebar-chat-message {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: block;
  color: #999999;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sidebar-chat-message b {
  color: #000;
}

.sidebar-chat-time {
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  color: #999999;
  margin-bottom: 15px;
  display: block;
}

.sidebar-chat-new-messages {
  padding: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  background: #3369F3;
  display: inline-block;
  min-width: 20px;
}

.sidebar-chat-additional-data {
  text-align: right;
}

.sidebar-chat {
  padding: 12px 0;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

.sidebar-chat-textbox {
  width: 100%;
  max-width: 100%;
}

.sidebar-chat-wrap {
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.sidebar-chat-wrap:after {
  content: '';
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: -20px;
  width: calc(100% + 40px);
  top: 2px;
  height: calc(100% - 4px);
  transition: 0.3s linear all;
  background: #E4EDFD;
}

.sidebar-chat-wrap:hover::after {
  opacity: 1;
}

.chat-messages {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat-messages-person-info {
  display: flex;
}

.chat-messages-person-img {
  width: 34px;
  height: 34px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background: #EFEFEF;
  margin-right: 10px;
}

.chat-messages-header {
  padding: 12px 0;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-messages-last-activity {
  font-size: 12px;
  line-height: 12px;
  color: #999999;
}

.chat-messages-footer {
  padding: 11px 0;
  border-top: 1px solid #EAEAEA;
}

.submit-message {
  background: #3369F3;
  margin-left: 10px;
  width: 28px;
  height: 28px;
  min-width: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.clip_icon_wrapper {
  margin-right: 10px;
  height: 32px;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.message_field-label {
  display: block;
  width: 100%;
  height: 32px;
}

.message_field {
  width: 100%;
  background: #EFEFEF;
  border-radius: 30px;
  padding: 10px 20px;
  resize: none;
  height: 32px;
  min-height: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  outline: none;
  border: none;
  overflow: hidden;
}

.message_field::placeholder {
  color: #999999;
}

.interlocutor-messages-wrapper {
  max-width: 40%;
  min-width: 400px;
}

.interlocutor-text-message p {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1E1E1E;

}

.interlocutor-text-message {
  background: #F8F8F8;
  position: relative;
}

.interlocutor-text-message .time {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  text-align: right;
  color: #999999;
  position: absolute;
  right: 11px;
  bottom: 4px;
}

.interlocutor-text-message {
  border-radius: 8px;
}

.interlocutor-message {
  margin-bottom: 10px;
  padding: 11px
}

.interlocutor-messages-wrapper {
  margin-bottom: 20px;
}

.my-message p {
  margin: 0;
  padding: 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1E1E1E;
}

.small-message {
  padding-right: 45px;
}

.my-message {
  justify-content: flex-end;
  align-items: center;
  background: #E4EDFD;
  max-width: 50%;
  margin-left: auto;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  border-radius: 20px;
  border-bottom-right-radius: 0;
}

.my-messages-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.additional-params {
  display: flex;
  position: absolute;
  bottom: 11px;
  right: 0;
}

.additional-params .time {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #3369F3;
  padding-top: 9px;
  padding-left: 4px;
  padding-right: 11px;

}

.chat-messages-body {
  max-height: initial;
  overflow: auto;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto;

}

.chat-messages-body-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100%;
}

.chat-messages-drop {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s linear all;
}

.chat-messages-drop svg {
  fill: #1E1E1E;
  transition: 0.3s linear all;
}

.chat-messages-drop:hover {
  background-color: #F5F5F5;
}

.chat-messages-drop:hover svg {
  fill: #3369F3;
}

.chat-messages-drop-link svg {
  margin-right: 15px;
}
.chat-messages-drop-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 32px;
}

.chat-messages-drop-wrapper ul {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.chat-messages-drop {
  position: relative;
}

.chat-messages-drop-link {
  border: none;
  outline: none;
  background: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: 0.3s linear all;
}

.chat-messages-drop-link:hover {
  color: #3369F3;
}

.chat-messages-drop-wrapper ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  width: max-content;
}

.chat-messages-drop-wrapper ul li:last-child {
  margin-bottom: 0;
}

.chat-messages-drop-wrapper ul li {
  margin-bottom: 15px;
}

.chat-messages-drop-wrapper {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s linear all;
}

.chat-messages-drop:hover .chat-messages-drop-wrapper {
  opacity: 1;
  pointer-events: all;
}

.clip-wrapper {
  position: relative;
}

.clip-wrapper .chat-messages-drop-wrapper {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  padding-bottom: 52px;

}

.clip-wrapper:hover .chat-messages-drop-wrapper {
  opacity: 1;
  pointer-events: all;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgba(73, 73, 73, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s linear all;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  padding: 30px 40px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s linear all;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal-title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #1E1E1E;
}

.modal-chat-delete {
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.btn-danger {
  background: #FF2F2F;
  color: #FFFFFF;
}

.modal-buttons-row .default-button {
  width: 100%;
  cursor: pointer;
}

.modal-buttons-row .btn-danger {
  margin-right: 10px;
}

.modal-buttons-row .default-button {
  margin-bottom: 0;
}

.personal-account-wrapper {
  max-width: 90%;
  width: 510px;
  margin: 0 auto;
}

.profile-sidebar {
  width: 64px;
  min-width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-sidebar .submit-message {
  margin-left: 0;
  transform: rotate(180deg);
}

.personal-image input[type=file] {
  display: none;
}

.personal-image-label {
  background: #EFEFEF;
  width: 131px;
  height: 131px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  margin: 0 auto 20px;
}

.inner-profile-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #1E1E1E;
  margin-bottom: 100px;
}

.personal-data {
  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;

    &:last-child {
      border-bottom: 0;
    }

    span {
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: #1E1E1E;
    }

    p {
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: #999999;
    }
  }

  table {
    padding: 0;
    margin: 0 0 60px 0;
    width: 100%;
  }
}

.personal-data-change .default-link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
}

.red-colored {
  color: #FF0000;
}

.personal-data-submittion-block {
  text-align: center;
}

.personal-data-submittion-block .default-button {
  width: 280px;
  cursor: pointer;
}

.personal-form-control {
  margin: 10px 0;
  height: 13px;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #999999;
  text-align: right;
  border: none;
  outline: none;
}

.personal-image-label {
  cursor: pointer;
}

.sidebar-chat-img {
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    min-width: 100%;
    display: block;
    height: 100%;
  }
}

.personal-data-links {
  display: flex;
  flex-direction: column;
}

.personal-data-links {
  .default-link {
    border-bottom: 1px solid #EAEAEA;
  }
}

.personal-data-links .default-link:last-child {
  border-bottom: 0;
}

.sidebar-content {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-messages-person-img img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.input-error {
  font-size: 12px;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  color: red;
}

.personal-data .input-error {
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  min-width: max-content;
  font-size: 12px;
  color: red;
}

.personal-data tr label {
  position: relative;
}
